!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title MSCO
    = favicon_link_tag
    = csrf_meta_tags
    =# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =# javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{"data-turbolinks-track" => "reload", href:  "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css", media:  "all", rel:  "stylesheet"}
    %link{"data-turbolinks-track" => "reload", href:  "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css", media:  "all", rel:  "stylesheet"}
    %link{"data-turbolinks-track" => "reload", href:  "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css", media:  "all", rel:  "stylesheet"}

    %script{"data-turbolinks-track" => "reload", src:  "//cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js"}
    %script{"data-turbolinks-track" => "reload", src:  "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    %script{"data-turbolinks-track" => "reload", src:  "//cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.1/rails.min.js"}
    %script{"data-turbolinks-track" => "reload", src:  "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"}
    %script{"data-turbolinks-track" => "reload", src:  "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"}

  %body
    %nav.navbar.navbar-expand-sm.navbar-light.bg-faded{style: "background-color: #e3f2fd;"}
      %button.navbar-toggler{"aria-controls" => "nav-content", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#nav-content", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      / Brand
      = link_to "POS", root_path, class: "navbar-brand"
      = link_to (fa_icon "download", text: "Android"), qr_code_downloads_path(file: "#{apk_download_filename}"), class: 'navbar-brand pull-right'

    = yield